.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vw;
}

.hero__right {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.hero__image {
  width: inherit;
}

.hero__title {
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.25rem;
  max-width: 500px;
}

.hero__subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #5f6368;
  max-width: 30em;
  padding: 20px 0;
}

.hero__buttons {
  margin: 30px 0;
}

.hero__createBTN {
  background-color: #00796b !important;
  padding: 10px 15px !important;
}

.hero__createBTN p {
  margin-left: 5px !important;
  text-transform: capitalize;
}

.icon {
  color: #5f6368;
}

.hero__input > .MuiInputBase-root {
  height: 45px !important;
  margin-left: 20px;
}

.hero__joinBTN {
  text-transform: capitalize !important;
  margin-left: 15px !important;
  font-size: 1em !important;
  color: #00796b !important;
}

.hero__learnMore {
  margin-top: 30px;
  color: #5f6368;
}
